* {
  --yellow-green: #edf286;
  --dark-yellow: #d1cd67;
  --form-background: #d9d9d9;
  --button-background-primary: #3852d0;
  --admin-button: #b9b9b9;
  --dark-yellow: #d1cd67;
  --dark-blue: #3c54d1;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.bg-yellow_green {
  background-color: var(--yellow-green);
}
.bg-blue-button {
  background-color: var(--button-background-primary);
  color: #fff;
  border: 2px solid var(--button-background-primary);
}

.bg-dark_yellow {
  background-color: #d1cd67;
}

/*navigation */
.offcanvas-start {
  width: 60%;
  font-weight: bold;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.2);
}
.offcanvas.show {
  background-color: var(--yellow-green);
}
.hero {
  position: relative;
  background-image: url("../public/image/hero-image-hands.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
/* Header logo and navbar  */
/* .logoAndNav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  padding: 0.5rem 3rem;
} */
.desktop-navigation-div {
  display: none;
}
.header-logo {
  background-image: url("../public/image/headerlogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 190px;
  height: 140px;
}
/* nav */

.nav {
  display: flex;
  gap: 1em;
  font-weight: bold;
}

/*
  font-size: 1rem;
}
.navlink {
  border-radius: 12px;
}
.navlink:hover {
  transition: 0.39s ease-out;
  opacity: 0.8;
  background-color: rgb(41, 2, 74);
  padding-left: 0.25rem;
} */

/* about page */
.about-div {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.about-h2 {
  background-color: rgb(41, 41, 247, 0.6);
  color: rgb(255, 255, 255);
  padding: 2rem 6rem;
  font-size: 4rem;
}
/* Footer  */
.footer-container h3 {
  font-weight: bolder;
  color: #fff;
}

.footer-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.contact-info-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1.25em;
}

.footer-fontawe {
  font-size: 1.55em;
  margin: 0.4em;
  padding: 0.2em;
}

.footer-fontawe:hover {
  border: 0.5px solid white;
  border-radius: 100%;
  transition: 0.5s ease-in;
  margin: 0.4em;
  padding: 0.2em;
}

.footer-fontawe:hover {
  opacity: 0.7;
  border: 1px solid white;
  border-radius: 100%;
  transition: 0.5s ease-in;
}
/* Admin form to add new job. */

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.form-group label {
  margin-top: 1rem;
}
.form-group :nth-child(10) {
  margin-bottom: 4rem;
}
.form-group :nth-child(11) {
  margin-bottom: 0.4rem;
}
.form-control {
  padding: 0.5rem;
  background-color: var(--form-background);
}
.react-datepicker__input-container input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  background-color: var(--form-background);
}
.btn {
  background-color: var(--button-background-primary);
  color: #fff;
}
.admin-add-button {
  background-color: var(--admin-button);
}

/* Sign-Up*/
.flex {
  display: flex;
}
.flex-direction {
  flex-direction: column;
}
.sign-up {
  width: 50%;
  background-color: var(--yellow-green);
  margin: auto;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sign-up-form > input:nth-child(2) {
  width: 30%;
}
.sign-up-form > input:nth-child(4) {
  width: 40%;
}
.sign-up-form input {
  width: 55%;
  margin-bottom: 1em;
  border: none;
  border-radius: 0.2em;
}
.sign-up-date-time > p:nth-child(1) {
  margin-right: 3em;
}
.sign_up_info_banner > * {
  padding-left: 0.7em;
  padding-bottom: 1em;
}
.sign_up_info_banner span {
  font-weight: 600;
}
.sign-up > * h4 {
  background-color: rgb(175, 175, 95);
  padding: 0.6em;
  font-size: medium;
}

.sign-up-fields > * {
  padding-left: 0.7em;
}

.form-login-btn {
  background: none !important;
  border: none;
  color: rgb(229, 56, 56);
  cursor: pointer;
  height: fit-content;
  float: right;
}

.form-sign-up-btn {
  width: 90%;
  color: white;
  background-color: rgb(33, 33, 240);
  margin: 1em;
  border-radius: 0.2em;
}

.sign-up-err {
  color: red;
  font-size: large;
  margin-bottom: 0.5em;
}
/* dashboard-google-authentication*/
.google-login {
  float: right;
}

.sign-out-btn {
  background-color: rgb(33, 33, 240);
  color: white;
  border: none;
  border-radius: 0.2em;
  width: 85px;
  margin-left: 2em;
}
.user-details {
  margin-right: 3em;
}
.user-details img {
  width: 45px;
  height: 45px;
}
.user-details h4 {
  margin-right: 0.5em;
}
/* dashboard-login*/
.admin-form-container {
  margin: auto;
  width: 40%;
}
.admin-form-container p {
  margin-top: 2.5em;
  margin-bottom: 3.5em;
}

.admin-form {
  display: flex;
  flex-direction: column;
}
.admin-form label {
  font-weight: 500;
  font-size: 1.4em;
}

.admin-form input {
  margin-bottom: 2em;
  height: 50px;
  border: none;
  border-radius: 0.3em;
  background-color: lightgray;
  color: rgb(47, 46, 46);
}
.login-btn {
  background-color: rgb(33, 33, 240);
  color: white;
  font-size: large;
  border-radius: 0.2em;
  height: 50px;
  margin-top: 1.5em;
  margin-bottom: 3em;
  border: none;
}
.login-sigUp-container {
  margin-top: 2.5em;
  width: 100%;
}

.admin-log-out-container {
  float: right;
  margin-top: -4rem;
  margin-right: 2.5em;
}

.profile-image {
  height: 30px;
  width: 30px;
  margin-left: 0.5em;
}

@media only screen and (max-width: 980px) {
  /* header logo  */

  /* header logo  */
  /* .logoAndNav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
  }
  .header-logo {
    width: 140px;
    height: 100px;
  }
  /* .header-logo {
    width: 190px;
    height: 120px;
  } */
  /* nav */
  /* .nav {
    gap: 0.2em;
    font-weight: 500;
  }
  .navlink {
    margin-top: 0.4em;
  }
  .navlink:hover {
    transition: 0.35s ease-out;
    opacity: 0.8;
    background-color: transparent;
    padding-left: 0.1rem;
  } */
  /* about page */
  .about-h2 {
    padding: 1.5rem 3rem;
    font-size: 2.5em;
  }
  /* Footer  */
  .footer-container {
    font-size: 95%;
  }

  .contact-info-social-media {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .sign-up {
    width: 100%;
  }
  .sign-up-form > input:nth-child(2) {
    width: 30%;
  }
  .sign-up-form > input:nth-child(4) {
    width: 40%;
  }
  .sign-up-form input {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) {
  .logoAndNav {
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;
  }
  .desktop-navigation-div {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    margin-right: 1rem;
  }
  .desktop-navigation-div a {
    text-decoration: none;
    color: var(--dark-blue);
  }
  .nav-items {
    list-style: none;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-items li {
    padding-left: 1.2rem;
  }
  .navbar-div {
    display: none;
  }
}

/* Rota */
.rota {
  background-color: brown;
}
.rota_container {
  background-color: var(--dark-yellow);
}
.rota_container2 {
  background-color: var(--yellow-green);
}
