body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.hero {
  position: relative;
  background-image: url("../public/image/akwaaba-hero-image.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
/* Header logo and navbar  */
.logoAndNav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  padding: 0.5rem 3rem;
}

.header-logo {
  background-image: url('../public/image/headerlogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 190px;
  height: 140px;
}

/* Footer  */
.footer-container h3 {
  font-weight: bolder;
  color: rgb(205, 63, 16);
}

.footer-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.contact-info-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1.25em;
}

.footer-fontawe {
  font-size: 1.55em;
  margin: .4em;
  padding: .2em ;
}
.footer-fontawe:hover{
  opacity: .7;
  border: 1px solid white;
  border-radius: 100%;
  transition: 0.5s ease-in;
}
/* Sign-Up*/
.flex {
  display: flex;
}
.sign-up {
  width: 50%;
  background-color: rgb(243, 243, 172);
  margin: auto;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sign-up-form > input:nth-child(2) {
  width: 30%;
}
.sign-up-form > input:nth-child(4) {
  width: 40%;
}
.sign-up-form input {
  width: 55%;
  margin-bottom: 1em;
  border: none;
  border-radius: 0.2em;
}
.sign-up-date-time > p:nth-child(1) {
  margin-right: 3em;
}
.sign_up_info_banner > * {
  padding-left: 0.7em;
  padding-bottom: 1em;
}
.sign_up_info_banner span {
  font-weight: 600;
}
.sign-up > * h4 {
  background-color: rgb(175, 175, 95);
  padding: 0.6em;
  font-size: medium;
}

.sign-up-fields > * {
  padding-left: 0.7em;
}

.form-login-btn {
  background: none !important;
  border: none;
  color: rgb(229, 56, 56);
  text-decoration: underline;
  cursor: pointer;
  height: fit-content;
}

.form-sign-up-btn {
  width: 90%;
  color: white;
  background-color: rgb(33, 33, 240);
  margin: 1em;
  border-radius: 0.2em;
}
@media only screen and (max-width: 980px) {

  /* header logo  */ 
  .logoAndNav {
      display: flex;
      justify-content: space-between;
      padding: .5em;
    }
  .header-logo {
    width: 140px;
    height: 100px;
  }

  /* Footer  */
  .footer-container {
    font-size: 95%;
  }

  .contact-info-social-media {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .sign-up {
    width: 100%;
  }
  .sign-up-form > input:nth-child(2) {
    width: 30%;
  }
  .sign-up-form > input:nth-child(4) {
    width: 40%;
  }
  .sign-up-form input {
    width: 65%;
  }
}

 /* Rota */
  .rota {
    background-color: brown;
  }
